# Matplotlib - Exercises
Welcome to this notebook on basic visualizations in matplotlib!

Matplotlib is a powerful library for creating visualizations in Python. It is widely used for data exploration and analysis, as well as for creating publication-quality graphics. In this notebook, we will cover the basics of creating simple visualizations using matplotlib. The exercises in this notebook are designed to help you build your skills in creating different types of plots, such as line plots, scatter plots, bar plots, and histograms. We will also cover topics such as customizing the appearance of plots, adding titles and labels, and working with multiple subplots. By the end of this notebook, you should have a good understanding of how to use matplotlib to create simple visualizations, and you will be ready to explore more complex plots and visualizations on your own. 

**Let's get started!**

#### Package imports

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Part 1: Time Series Analysis
The focus of the first part of this notebook will be time series plots, which are used to show how data changes over time.

The dataset used in this part of the notebook is the collapse of the big tech stocks due to the interest rate hikes of the Federal Reserve. This dataset includes daily prices of some of the biggest technology stocks. We will use this dataset to visualize the changes in stock prices over time, and to explore the impact of the Federal Reserve's interest rate hikes on these companies.

Through this exercise, you will learn how to create and customize line plots, and how to add titles, labels, and annotations to your visualizations.

#### Loading data

In [2]:
big_tech_returns = pd.read_csv('https://kuleuven-mda.s3.eu-central-1.amazonaws.com/big_tech_returns.csv')
fed_hikes = pd.read_csv('https://kuleuven-mda.s3.eu-central-1.amazonaws.com/fed_hikes.csv', sep=';').dropna()

big_tech_returns.Date = pd.to_datetime(big_tech_returns.Date)
big_tech_returns.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-01-03,62.900002,63.349998,62.500000,63.160000,60.752422,17184300,CSCO
1,2022-01-04,62.439999,62.810001,61.110001,61.250000,59.262394,29682500,CSCO
2,2022-01-05,61.189999,61.639999,60.250000,60.279999,58.323872,30317900,CSCO
3,2022-01-06,60.000000,61.130001,59.910000,60.919998,58.943100,19616600,CSCO
4,2022-01-07,60.869999,61.500000,60.669998,61.130001,59.146290,20152400,CSCO

**Task 1**: create a separate dataframe consisting of only the stock returns from Microsoft. Do this by subsetting the data based on the value 'MSFT' in the column 'Ticker'. Store the dataframe in a variable named microsoft_returns. Make sure to create a copy of the subsetted dataframe.

**Task 2**: create a lineplot of the Adjusted Close 'Adj Close'. The x-axis should be the date. Make the color equal to the following hex code: #457b9d.

**Task 3**: Give the axes a descriptive name and provide a title to the plot.

**Task 3**: the pandas library is specialized in time series analysis. It is possible to create a matplotlib lineplot directly from a pandas Series. to do this, the data should be equal to the index of the pandas Series. then, the .plot() function can be called on the pandas Series. Generate the same graph using the pandas library directly.

**Task 4**: add red (#e63946) vertical lines to the figure above that indicate when a fed rate hike took place. Make the opacity of the line equal to 0.2, and add a text annotation indicating the size of the rate hike. Anchor the y-value of the text annotation to the maximum close - 10. Color the text annotation red (#e63946), format it such that it is always expressed by two numbers after the comma, and rotate the label 90 degrees.

**Task 5**: add a legend to the plot

**Task 6**: make the same plot, but now visualize both the stock returns of Microsoft ('MSFT') and Apple ('AAPL'). Make sure the legend is also updated. The color of the Apple stock returns should be #a8dadc. Rebase the apple stock return such that it has the same starting value as the microsoft stock returns.

## Part 2: High School Basketball Budgets
This dataset provides information on the budget and revenue of high schools associated with basketball in the United States. The data is broken down by gender, with separate columns for male and female athletes. The dataset can be used to explore the relationship between a school's budget and revenue for basketball programs, and to compare the funding of male and female programs. This information can be useful for evaluating the financial viability of high school sports programs, and for identifying areas where funding may be lacking.

In this section, we will focus on creating three different types of visualizations: donut charts, boxplots, and scatter plots. These visualizations can be used to represent data in a clear and concise manner, making it easier to understand patterns and trends. The datasets used in this section contains data on high schools and their associated basketball burgets for male and female athletes.

In [3]:
basketball_budgets = pd.read_csv('https://kuleuven-mda.s3.eu-central-1.amazonaws.com/basketball_budgets.csv')
basketball_budgets.head()

,index,year,institution_name,state_cd,rev_men,rev_women,exp_men,exp_women,sports
0,70160,2019,Alabama A & M University,AL,1382143.0,1289349.0,1567122.0,1387755.0,Basketball
1,70172,2019,University of Alabama at Birmingham,AL,3705028.0,1925441.0,3705028.0,1925441.0,Basketball
2,70210,2019,University of Alabama in Huntsville,AL,572018.0,442794.0,572018.0,442794.0,Basketball
3,70248,2019,Alabama State University,AL,966118.0,762216.0,966118.0,762216.0,Basketball
4,70286,2019,The University of Alabama,AL,14722223.0,1008558.0,9429628.0,3805848.0,Basketball

**Task 1**: create a scatter plot that compares the log expenses of men basketball teams to the log expenses of women basketball teams (exp_women). You can use the default matplotlib color. Set the size of the markers equal to 2 and the opacity equal to 0.2. Don't forget the labels and title.

**Task 2**: create a pie chart for the 'Columbus State Community College' that shows the budgets for men and women. Make sure that text annotations are also added in the slices of the pie chart that indicate the percentage.

**Task 3**: Create a boxplot comparing the logarithmic basketball budgets for men and women.